# .flake8

[flake8]
max-line-length = 100  # Enged hosszabb sorokat
ignore = 
    E302,  # expected 2 blank lines
    E501,  # line too long
    E402,  # module level import not at top of file
    F401,  # imported but unused
    F811,  # redefinition of function
    F821,  # undefined name
    W291,  # trailing whitespace
    E128   # continuation line under-indented
exclude = 
    .git,
    __pycache__,
    build,
    dist,
    .venv,
    env
